{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load filters %}
{% load humanize %}
{% block title %}Reset Password{% endblock title %}


{% block head %}
    <link rel="stylesheet" href="{% static 'emps/styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'emps/styles/password.css' %}">
{% endblock %}
{% block signIn %}{% endblock signIn %}
{% block signUp %}{% endblock signUp %}

{% block content %}
    {% comment %} Reset Password form {% endcomment %}
    <div class="reset_password">
        <div class="reset_password_container modal-content">
            <center>
                <h3 class="login_header">Reset Password</h3>
            </center>
            <form id="resetPasswordForm" action="{% url 'reset_password' user_email %}" method="POST">
                {% csrf_token %}
                <center>
                    <input type="hidden" name="token" value="{{token}}">
                    <label for="newPassword">New Password</label><br>
                    <input type="password" name="newPassword" placeholder="Enter new password" id="newPassword" autocomplete="on" required>
                    <span toggle="#newPassword" class="password-toggle"></span><br><br>
                    <label for="confirmPassword">Confirm Password</label><br>
                    <input type="password" name="confirmPassword" placeholder="Confirm password" id="confirmPassword" autocomplete="on" required>
                    <span toggle="#confirmPassword" class="password-toggle"></span><br><br>
                </center>
                <div class="btnHandle2">
                    <button type="button" onclick="window.location.href = '{% url 'landing_page'%}'" class="continue" style="background-color: red; color: white;">Back</button>
                    <button type="submit" class="continue">Continue</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).on('click', '.password-toggle', function() {
            let input = $($(this).attr('toggle'));
            input.attr('type', input.attr('type') === 'password' ? 'text' : 'password');
        });   
    </script>
{% endblock %}

