<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'base/scripts/jQuery.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'base/styles/developers.css' %}"> <!-- Link to your CSS file -->
    <title>Developer</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="#about"><i class="fas fa-user"></i> About Me</a></li>
            <li><a href="#skills"><i class="fas fa-cogs"></i> Skills</a></li>
            <li><a href="#projects"><i class="fas fa-project-diagram"></i> Projects</a></li>
        </ul>
        <ul>
            <li><a onclick="window.history.back()"><i class="fas fa-home"></i> Home</a></li>
        </ul>

    </nav>
</header>
<div class="developer">
    <section id="about" class="section">
        <div class="container">
            <div class="profile">
                <img src="{% static 'emps/images/developers/Chime.jpg' %}" alt="Kingsley">
                <h1>Chime Kingsley C.</h1>
                <p>Welcome to my developer page! I'm Chime Kingsley, a dedicated Django developer with a passion for crafting innovative solutions. With a solid foundation in cloud technologies, including AWS SAA certification, I specialize in creating robust web applications and scalable cloud infrastructures. From concept to deployment, I'm committed to delivering high-quality software solutions.</p>
                <ul>
                    <li><a href="mailto:onlinekingsley@gmail.com" target="_blank">Email</a></li>
                    <li><a href="https://linkedin.com/in/chika-kingsley-chime" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/chimekinglsey" target="_blank">Github</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container overview">
            <h2>Project Overview</h2>
            <p>Explore my journey as a Django developer through this showcase project, WorkForceHub. From conception to execution, I've leveraged Django, Django Rest Framework, and Python to develop a comprehensive workforce management platform. WorkForceHub streamlines employee management, leave tracking, payroll processing, and more, empowering organizations to efficiently manage their workforce across multiple branches.</p>
        </div>
    </section>

    
    <section id="skills" class="section">
        <center><h2>Skills and Tools</h2></center>
        <div class="container skillSet">
            <div class="technical-skills skillItem">
                <h3>Technical Skills</h3>
                <ul>
                    <li><strong>Programming: </strong>Python, JavaScript, C</li>
                    <li><strong>Web Development:</strong> Django, HTML5, CSS, Flask</li>
                    <li><strong>Containerization:</strong> Docker, ECS</li>
                    <li><strong>Databases:</strong> MySQL, MongoDB, AWS RDS, Redis</li>
                    <li><strong>Servers:</strong> Nginx</li>
                    <li><strong>Linux:</strong> Proficient in Linux/Bash</li>
                    <li><strong>Version Control:</strong> Git</li>
                    <li><strong>Deployment:</strong> AWS (EC2, Lambda, Elastic Beanstalk, ECS..)</li>
                    <li><strong>APIs:</strong> Strong knowledge of REST APIs and web services</li>
                    <li><strong>Cloud:</strong> AWS Cloud proficiency</li>
                    <li><strong>Others:</strong> Technical Writing, Video Editing, MS Office Suite Expertise</li>
                </ul>
            </div>
            <div class="soft-skills skillItem">
                <h3>Soft Skills</h3>
                <ul>
                    <li>Project Coordination</li>
                    <li>Leadership</li>
                    <li>Strategic Planning</li>
                    <li>Team Collaboration</li>
                    <li>Critical Thinking</li>
                    <li>Rapid Learning</li>
                    <li>High adaptability</li>
                    <li>Attention to details</li>
                    <li>Proficience in written and spoken English - Able to work with clients to discuss ideas and solutions to their needs</li>
                </ul>
            </div>
        </div>
    </section>
    
    
    <section id="projects" class="section">
        <div class="container">
            <h2>Projects</h2>
            <div class="project">
                <h3>WorkforceHub</h3>
                <p>A comprehensive workforce management platform built from scratch using Django and Django Rest Framework. Features include employee management, leave tracking, payroll management, and more, empowering you to streamline operations and maximize productivity effortlessly
                </p>
                <p class="viewProject"><a href="https://workforcehub.pythonanywhere.com" target="_blank">View</a></p>
                <h3>LessonPedia</h3>
                <p>
                    An innovative educational hub meticulously crafted using Django and Django Rest Framework. Its features encompass seamless tutor-client matchmaking, personalized lesson planning, progress tracking, and interactive learning tools, providing an intuitive online learning experience.    
                </p>
                <p class="viewProject"><a href="https://lessonpedia.pythonanywhere.com" target="_blank">View</a></p>
            </div>
        </div>
    </section>
</div>


<footer>
    <p>&copy; 2024 Chime Kingsley. All rights reserved.</p>
</footer>
<script>
    $(document).ready(function(){
        $('nav a').click(function(){
            let target = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(target).offset().top
            }, 800);
            return false;
        });
    });
</script>

</body>
</html>
