/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ffd800;
}

.developer {
    width: 80%;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

li a {
    text-decoration: none;
}

li {
    list-style-type: square;
}
section {
    padding: 4% 0;
}

.overview {
margin-bottom: 30px;
}
.profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
}

.profile h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.profile p, p, li {
    font-size: 18px;
    color: #444;
}

.profile ul, .viewProject {
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.profile ul li, .viewProject {
    margin-right: 20px;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.profile ul li a, .viewProject a{
    color: #fff;
    text-decoration: none;
}

.profile ul li a:hover, .viewProject a:hover{
    text-decoration: none;
}

.profile ul li:hover, .viewProject:hover{
    background-color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section h2 {
    font-size: 32px;
    background: lightgrey;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 18px;
    color: #444;
}

.skillItems {
    display: flex;
    justify-content: center;
    text-align: left;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
footer p {
    color: #fff;
}
.skillSet{
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
}
.skillItem {
    width: 45%;
}
.skillItem ul li {
    margin-bottom: 10px;
    font-size: 15px;
}

.viewProject {
    margin-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .skillItem {
        width: 100%;
    }
    .profile h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    h3 {
        font-size: 1.3rem !important;
    }
}
