/* flash messages #switched to bootstrap alerts 
.flash-container {
    position: fixed;
    left:20%;
    right: 20%;
    max-width: 700px;
    z-index: 9999;
}

.flash-message {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    animation: fadeInOut 0.5s ease-in-out;
    padding: 5px;
    z-index: 99999;
}
.flash-message p {
    margin: 0;
    margin-right: 30px;
}

.flash-close-btn {
    position: absolute;
    right: 10px;
    border: none;
    color: white;
    opacity: 0.8;
    margin-right: 5px;
}
.flash-close-btn:hover {
    opacity: 1;
}


.flash-success {
    background-color: #5cb85c;
    color: #fff;
}


.flash-message .close-btn {
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
}

@media screen and (max-width: 768px){
    .flash-container {
        left:0%;
        right: 0%;
        font-size: 12px;
    }
}*/
.flash-container .container {
    max-width: none !important;
    margin:auto !important;
    background-color: #fff !important;
    padding:0 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.flash-container .alert {
    animation: fadeInOut 0.5s ease-in-out;
    z-index: 99999;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.alert-error {
    background-color: #d9534f;
    color: #fff;
}
.flash-container .alert-error .close{
    color: #fff;
    opacity: 0.8;
    margin-right: 5px;
}
.alert-success .close{
    color: #d9534f;
    opacity: 0.8;
    margin-right: 5px;
}

.alert-success .close:hover{
    opacity: 1;
}
.alert-error .close:hover{
    opacity: 1;
}