{% extends 'base/base.html'%}
{% load static%}
{% block head %}
    <link rel="stylesheet" href="{% static 'base/styles/error500.css' %}">
{% endblock %}
{% block title %}Server Error{% endblock title %}
{% block content %}
<div class="exceptionContainer">
    <div class="container">
            <h1>500 - Server Error</h1>
            <p>Oops! Something went wrong on our end.</p>
            <p>Please try again later or <a onclick="window.history.back()">go back</a>.</p>
        </div>
</div>
{% endblock content %}