{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load filters %}
{% load humanize %}
{% block title %}About Us{% endblock title %}


{% block head %}
    <link rel="stylesheet" href="{% static 'base/styles/privacy.css' %}">

{% endblock %}
{% block signIn %}{% endblock signIn %}
{% block signUp %}{% endblock signUp %}

{% block content %}
<center>
    <h2>About Us</h2>
</center>
<section>
    <h4>Our Story</h4>
    <p>At WorkforceHub, we're not just a company; we're a collective of passionate individuals driven by a common purpose: to revolutionize workforce management. Our journey began with a simple idea: to create a platform that empowers organizations to unlock the full potential of their most valuable asset – their people.</p>

    <h4>Our Mission</h4>
    <p>We are on a mission to transform the way businesses manage their workforce. Our goal is to provide innovative solutions that streamline HR processes, foster employee engagement, and drive organizational success. With WorkforceHub, businesses can thrive in today's dynamic and ever-evolving workplace.</p>

    <h4>Our Vision</h4>
    <p>Our vision is to be the catalyst for positive change in the world of workforce management. We envision a future where every organization, regardless of size or industry, has access to cutting-edge tools and technologies that enable them to build thriving and resilient teams.</p>

    <h4>Our Values</h4>
    <p class="mb-0 pb-1">At the heart of everything we do are our core values:</p>
    <ul>
        <li><strong>Innovation:</strong> We embrace creativity and innovation to drive continuous improvement and deliver exceptional solutions.</li>
        <li><strong>Integrity:</strong> We operate with honesty, transparency, and integrity in all our interactions, earning the trust and respect of our customers and partners.</li>
        <li><strong>Empowerment:</strong> We empower organizations and individuals to reach their full potential, fostering a culture of growth and development.</li>
        <li><strong>Collaboration:</strong> We believe in the power of collaboration and teamwork, working closely with our customers and partners to achieve shared goals.</li>
        <li><strong>Excellence:</strong> We strive for excellence in everything we do, setting high standards and continuously raising the bar for performance and quality.</li>
    </ul>

    <h4>Our Commitment to Privacy and Security</h4>
    <p>Protecting your privacy and securing your data is our top priority. We adhere to stringent security measures and industry best practices to safeguard your information. With WorkforceHub, you can trust that your data is safe, confidential, and always under your control.</p>

    <h4>Join Us on Our Journey</h4>
    <p>We invite you to join us on our journey to redefine workforce management. Together, we can build a future where organizations thrive, employees flourish, and success knows no bounds. Experience the power of WorkforceHub and unlock endless possibilities for your business.</p>

    <h4>Get in Touch</h4>
    <p>Have questions or want to learn more about WorkforceHub? Contact us at <a href="mailto:developers.workforcehub@gmail.com">developers.workforcehub@gmail.com</a>. We'd love to hear from you!</p>

    <p><strong>Last Updated:</strong> 29 February, 2024</p>
</section>

{% endblock %}

