<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load humanize %}
        <meta charset="UTF-8">
        <script src="{% static 'base/jQuery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'base/popper.min.js' %}"></script>
        <script src="{% static 'base/base.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'base/flash.css' %}">
        <script src="{% static 'base/font-awesome.js'%}"></script>
        <link rel="stylesheet" href="{% static 'base/base.css' %}">
        <script src="{% static 'base/flash.js'%}"></script>
        {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
        <title>{% block title %}Home WorkForceHub{% endblock title %}</title>
        {% block head %}
        {% endblock head %}
    </head>
<body>
    <div class="wrapper-container">
    <header>
        {% block WorkForceHub %}<h1>WorkForceHub</h1>{% endblock WorkForceHub %}
        {% block menu %} <button id="menu-toggle"> Menu <span class="fas fa-bars"></span> </button>{% endblock menu %}

        <nav class="header-nav">
            {% block home %}<a href="{% url 'landing_page' %}">Home</a>{% endblock home %}
            {% block FunTest %}<a href="#">Fun</a>{% endblock FunTest %}
            {% block about %}<a href="#">About</a>{% endblock about %}
            {% block contact %}<a href="#">Contact Us</a>{% endblock contact %}
        {% if user.is_authenticated %}
            {% block logout %}<a class="logoutBtn btn" href="{% url 'logout' %}">Logout</a>{% endblock logout %}
        {% else %}
            {% block signUp %}<a class="registerBtn btn" href="{% url 'signUp' %}">Sign Up</a>{% endblock signUp %}
            {% block signIn %}<a class="loginBtn btn" href="{% url 'login' %}" >Login</a>{% endblock signIn %}
        {% endif %}
        </nav>
    </header>
    <div class="header-wrapper"></div>
    {% block flash %}
    <div class="flash-container">
        {% if messages %}
            {% for message in messages %}
                {% if forloop.last %}
                <div class="flash-message {% if message.tags %}flash-{{ message.tags }}{% endif %}">
                    <p style="font-weight: bold;">{{ message }}</p>
                    <button class="flash-close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% endblock flash %}
    {% block content %}
        <div class="base_content">
            <h2>This is base.html</h2>
        </div>    
    {% endblock content %}
    </div>
    <footer>
        <nav class="footer-nav">
            <a href="#">Developers</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">FAQ</a>
        </nav>
        <p>All rights reserved &copy; WorkForceHub 2024</p>
    </footer>
</body>
</html>
