
.view_emp_container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    background-color: rgb(241, 248, 241);
}

.employee_view{ 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    }

.detail-label {
    padding: 10px;
    margin: 0 5px;
}
.bold_images h1 {
    margin: 0;
    font-weight: 400;
}
.employee_view_form fieldset legend h3 {
    margin: 12px 0;
    color: #007bff;
    text-align: center;
    font-size: inherit;
}
.employee_view_form fieldset legend h3:hover {
    color: #0056b3;
}
.main-block {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.employee_view_form {
    width: 100%;
    padding: 20px;
}
.employee_view_form fieldset {
    border: 1px solid#1a295e5e;
    border-radius: 5px;
    font-family: 'saira';
}
#updateEmployeeForm fieldset {
    border: 1px solid#6382f25e;
    border-radius: 5px;
    font-family: 'el messiri';
}
#updateEmployeeForm fieldset legend {
    padding: 5px;
    margin: 0 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}
.detail-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-section div {
    display: flex;
    justify-content: space-between;
}
.employee_view_form label {
    padding: 1 5px;
    text-align: right;
    vertical-align: middle;
}
.detail-label {
    font-weight: bold;
}
.detail-value {
    font-weight: normal;
}

.edit-bank {
    font-size: 14px;
    margin-left: 0;
    color: #0056b3;
    line-height: normal;
    padding: 5px;
    opacity: 0.6;
}
.edit-bank:hover {
    opacity: 0.9;
    color: #0056b3;
    cursor: pointer;
}


/* view docs button */
.empFileView {
    background-color: #4db8ff; /* Light Blue */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    max-width: 200px;
    transition-duration: 0.4s;
    font-family: Roboto, Tahoma;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.empFileView:hover {
    background-color: #3399ff; /* Darker Blue */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
  }


  /* modal for view employee detail */
.backdrop {
    position: fixed;
    inset: 0;    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    display: none;
}

.empModalContainer {
    display: none;
    width: 80%;
    z-index: 9;
    margin: 20px auto; 
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    inset: 0;
    max-height: 100vh; 
    overflow: auto;
}

.shake {
    display: inline-block;
    animation: shake 2s infinite alternate;
}
.shake:hover {
    animation: none;
}
.shake-parent {
    background-color:  #6aa7e8ac

}

@keyframes shake {
    0% { transform: translateY(0); }
    100% { transform: translateY(5px); }
}


/* Archive Modal styles */
.archive-modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
 .archive-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .flex-buttton {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

.moreEmpDetail {
    cursor: pointer;
    color: #062c54;
}

/* Create Payroll */
/* CSS */
.add-payroll-icon {
    display: inline-block;
    position: relative;
    background-color: #007bff; /* Primary color */
    color: #fff; /* Text color */
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Make it circular */
    text-align: center;
    line-height: 50px; /* Vertical centering */
    font-size: 24px; /* Adjust size as needed */
    transition: background-color 0.3s ease;
  }
  
  .add-payroll-icon:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .add-payroll-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  /* Add animation */
  .add-payroll-icon i {
    transition: transform 0.3s;
  }
  
  .add-payroll-icon:hover i {
    transform: rotate(45deg); 
  }
  



/* media query for empModalContainer */
@media screen and (max-width: 1024px){
    .empModalContainer {
        font-size: 1.1rem;
        width: 85%;
    }
    th, td {
        padding: 4px;
    }
    .employee_view_form {
        padding: 10px;
    }
    .view-employee-table {
        font-size: 0.9rem;
    
    }
    .left-pane {
        flex: 0.7;
    }
    #view-employees {
        overflow: auto;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 950px){
    .empModalContainer {
        font-size: 1.1rem;
        width: 85%;
    }
    th, td {
        padding: 4px;
    }
    th, td {
        padding: 3px;
    }
    .employee_view_form {
        padding: 5px;
    }
    .view-employee-table {
        font-size: 0.90rem;
        overflow: auto;
    }
}

@media  screen and(max-width: 920px){
    .empModalContainer {
        font-size: 1.1rem;
        width: 85%;
    }
    td {
        padding: 4px;
    }
    .employee_view_form {
        padding: 3px;
    }
    .view-employee-table {
        font-size: 0.9rem;
    
    }
    #view-employees {
        overflow: auto;
        font-size: 0.9rem;
    }
    .empModalContainer {
        font-size: 1rem;
        width: 85%;
    }
    .left-pane {
        flex: 0.6;
    }

    .employee_view_form {
        padding: 5px;
    }
    .view-employee-table {
        overflow-x: auto;
    }
}

@media screen and (max-width: 880px){
    .empModalContainer {
        font-size: 1.1rem;
        width: 85%;
    }
    th, td {
        padding: 4px;
    }
    .employee_view_form {
        padding: 3px;
    }
    .view-employee-table {
        font-size: 0.85rem;
    
    }
    #view-employees {
        overflow: auto;
        font-size: 0.9rem;
    }
    .empModalContainer {
        font-size: 1rem;
        width: 85%;
    }

    .employee_view_form {
        padding: 5px;
    }
    .view-employee-table {
        overflow-x: auto;
    }

    .empModalContainer {
        font-size: 1rem;
        width: 85%;
    }
}
@media screen and (max-width: 768px){
    .empModalContainer {
        font-size: 1rem;
        width: 85%;
    }
    .employee_view_form {
        padding: 5px;
    }


    .empModalContainer h3 {
        font-size: 1.5rem;
    }

    .detail-section {
    flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    .empModalContainer {
        font-size: 1.1rem;
        width: 85%;
    }
    th, td {
        padding: 4px;
    }
    .employee_view_form {
        padding: 10px;
    }
    .view-employee-table {
        font-size: 0.9rem;
    
    }
    .left-pane {
        flex: 0.7;
    }
    #view-employees {
        overflow: auto;
        font-size: 0.9rem;
    }
    .empModalContainer {
        font-size: 1rem;
        width: 85%;
    }
    .left-pane {
        flex: 0.6;
    }

    .employee_view_form {
        padding: 5px;
    }
    .view-employee-table {
        overflow-x: auto;
    }
    .empModalContainer {
        font-size: 0.95rem;
        width: 90%;
        padding: 10px;
    }
    .employee_view_form {
        padding: 0px;
    }


    .empModalContainer h3 {
        font-size: 1.3rem;
    }
}