{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load filters %}
{% load humanize %}
{% block title %}Performance - {{employee.first_name}}{% endblock title %}


{% block head %}
    <link rel="stylesheet" href="{% static 'generic/styles/branch_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'emps/styles/performance.css' %}">
    <script src="{% static 'emps/scripts/performance.js'%}"></script>
{% endblock %}
{% block signIn %}{% endblock signIn %}
{% block signUp %}{% endblock signUp %}

{% block content %}
<div class="performance-dashboard">
  <center ><h2 class="db-title">Performance Dashboard</h2></center>
    <div class="employee-profile">
      <div class="profile-picture">
        <img id="profilePictureView" src="{{employee.profile_picture.url}}" alt="dp icon">
    </div>

    <div class="employee-info">
        <h2>{{employee.first_name}} {{employee.last_name}}</h2>
        <p class="db-title">{{employee.branch.name}}</p>
    </div>

    <div class="performance-actions">
      <button class="action-button" id="review-btn">Create</button>
      <button class="action-button" id="update-rev-btn">Update</button>
      <button class="action-button" id="performanceHistory-btn">History</button>
    </div>
 
  
    <!-- Modals for forms -->
    <div id="review-modal" class="archive-modal">
      <!-- Review form content -->
      <form class="container" action="{% url 'performance_review' employee.employee_id %}" method="post" enctype="multipart/form-data">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span class="close openFlashMsg" aria-hidden="true"onclick="getElementById('review-modal').style.display='none'">&times;</span>
      </button>

        {% csrf_token %}
        {% crispy review_form %}                    
      </form>
    </div>

    <div id="update-rev-modal" class="archive-modal">
      {% if performance_id %}
      <form class="container" action="{% url 'update_performance' performance_id %}" method="post" enctype="multipart/form-data">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span class="close openFlashMsg" aria-hidden="true"onclick="getElementById('update-rev-modal').style.display='none'">&times;</span>
        </button>

        {% csrf_token %}
        {% crispy update_review_form %}                    
      </form>
      {% else %}
      <center style="margin-top: 100px;">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span class="close openFlashMsg" aria-hidden="true"onclick="getElementById('update-rev-modal').style.display='none'">&times;</span>
        </button>
        <h3>No Performance Review to update</h3>
        <p>Recent performance review will be displayed here</p>
      {% endif %}

    </div>
    
    <div id="performanceHistory-modal" class="archive-modal">
      <div class="history-container archive-modal-content">
      <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
        <span class="close openFlashMsg" aria-hidden="true"onclick="getElementById('performanceHistory-modal').style.display='none'">&times;</span>
      </button>
       <center><h4>Performance History</h4></center>
       {% if performance %}
          <table class="dataTable">
              <thead>
                  <tr>
                      <th>SN</th>
                      <th>Overall Review</th>
                      <th>Overall Rating</th>
                      <th>Manager Asst.</th>
                      <th>Customer Feed.</th>
                      <th>Project perf.</th>
                      <th>Peer Feed.</th>
                      <th>Improv. plan</th>
                      <th>Attendance perf.</th>
                      <th>Pro.dev. perf.</th>
                      <th>KPIs</th>
                      <th>Self-Asst.</th>
                      <th>Date</th>
                  </tr>
              </thead>
              <tbody>
                {% for perf in performance %}
                  <tr>
                    <td title="{{ forloop.counter }}">{{ forloop.counter }}.</td>
                    <td {% if perf.performance_review|length > 15 %}title="{{ perf.performance_review }}"{% endif %}>
                        {% if perf.performance_review|length > 15 %}
                            {{ perf.performance_review|slice:":15" }}...
                        {% else %}
                            {{ perf.performance_review|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td  title="{{ perf.performance_rating}}%">{{ perf.performance_rating }}%</td>
                    <td {% if perf.manager_assessment|length > 15 %}title="{{ perf.manager_assessment }}"{% endif %}>
                        {% if perf.manager_assessment|length > 15 %}
                            {{ perf.manager_assessment|slice:":15" }}...
                        {% else %}
                            {{ perf.manager_assessment|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td {% if perf.customer_feedback|length > 15 %}title="{{ perf.customer_feedback }}"{% endif %}>
                        {% if perf.customer_feedback|length > 15 %}
                            {{ perf.customer_feedback|slice:":15" }}...
                        {% else %}
                            {{ perf.customer_feedback|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td {% if perf.project_performance|length > 15 %}title="{{ perf.project_performance }}"{% endif %}>
                        {% if perf.project_performance|length > 15 %}
                            {{ perf.project_performance|slice:":15" }}...
                        {% else %}
                            {{ perf.project_performance|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td {% if perf.peer_feedback|length > 15 %}title="{{ perf.peer_feedback }}"{% endif %}>
                        {% if perf.peer_feedback|length > 15 %}
                            {{ perf.peer_feedback|slice:":15" }}...
                        {% else %}
                            {{ perf.peer_feedback|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td {% if perf.improvement_plan|length > 15 %}title="{{ perf.improvement_plan }}"{% endif %}>
                        {% if perf.improvement_plan|length > 15 %}
                            {{ perf.improvement_plan|slice:":15" }}...
                        {% else %}
                            {{ perf.improvement_plan|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td {% if perf.attendance_punctuality|length > 15 %}title="{{ perf.attendance_punctuality }}"{% endif %}>
                        {% if perf.attendance_punctuality|length > 15 %}
                            {{ perf.attendance_punctuality|slice:":15" }}...
                        {% else %}
                            {{ perf.attendance_punctuality|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td {% if perf.professional_development|length > 15 %}title="{{ perf.professional_development }}"{% endif %}>
                        {% if perf.professional_development|length > 15 %}
                            {{ perf.professional_development|slice:":15" }}...
                        {% else %}
                            {{ perf.professional_development|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td {% if perf.kpis|length > 15 %}title="{{ perf.kpis }}"{% endif %}>
                        {% if perf.kpis|length > 15 %}
                            {{ perf.kpis|slice:":15" }}...
                        {% else %}
                            {{ perf.kpis|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td {% if perf.self_assessment|length > 15 %}title="{{ perf.self_assessment }}"{% endif %}>
                        {% if perf.self_assessment|length > 15 %}
                            {{ perf.self_assessment|slice:":15" }}...
                        {% else %}
                            {{ perf.self_assessment|default:"N/A" }}
                        {% endif %}
                    </td>
                    <td title="{{ perf.created_at|date:'d/m/y' }}">{{ perf.created_at|date:'d/m/y' }}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
       {% else %}
          <center>
              <h3>No Performance History </h3>
              <p>Performance history will be displayed here</p>
          </center>
       {% endif %} 
     </div>
  </div>
  
</div>
{% endblock %}
