{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load filters %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generic/styles/branch_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'emps/styles/performance.css' %}">
    <script src="{% static 'emps/scripts/performance.js'%}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .container {
            font-family: 'Montserrat', sans-serif;
        }
        strong {
          font-size: 0.9rem;
        }
        h4 {
          color: #009dff;
        }
    </style>
{% endblock %}
{% block signIn %}{% endblock signIn %}
{% block signUp %}{% endblock signUp %}

{% block content %}
<div class="performance-dashboard">
    <div class="employee-profile">
      <div class="profile-picture">
        <img id="profilePictureView" src="{{employee.profile_picture.url}}" alt="dp icon">
    </div>

    <div class="employee-info">
        <h2>{{employee.first_name}} {{employee.last_name}}</h2>
        <p>Department: {{ employee.department }}</p>
        <p>Designation: {{ employee.designation }}</p>
        <p>Job Role: {{employee.job_role}}</p>
      </div>
    </div>

    <div class="performance-actions">
      <button class="action-button" id="review-btn">Review and Rate</button>
      <button class="action-button" id="project-btn">Project Performance</button>
      <button class="action-button" id="otherPerf-btn">Other Performance</button>
      <button class="action-button" id="performanceHistory-btn">Performance History</button>
      <!-- Add more buttons for other actions -->
    </div>
 
  
    <!-- Modals for forms -->
    <div id="review-modal" class="archive-modal">
      <!-- Review form content -->
      <form class="container" action="{% url 'performance_review' employee.pk %}" method="post" enctype="multipart/form-data">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span class="close openFlashMsg" aria-hidden="true"onclick="getElementById('review-modal').style.display='none'">&times;</span>
      </button>

        {% csrf_token %}
        {% crispy review_form %}                    
      </form>
    </div>

    </div>
    <div id="project-modal" class="archive-modal">
      <form class="container" action="{% url 'project_performance' employee.pk %}" method="post" enctype="multipart/form-data">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span class="close openFlashMsg" aria-hidden="true"onclick="getElementById('project-modal').style.display='none'">&times;</span>
        </button>

        {% csrf_token %}
        {% crispy project_form %}                    
      </form>
    </div>

    <div id="otherPerf-modal" class="archive-modal">
      <!-- Rating form content -->
      <form class="container" action="{% url 'other_performance' employee.pk %}" method="post" enctype="multipart/form-data">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span class="close openFlashMsg" aria-hidden="true"onclick="getElementById('otherPerf-modal').style.display='none'">&times;</span>
        </button>

        {% csrf_token %}
        <div class="rating_tips">
        </div>
        {% crispy other_performance_form %}                    
      </form>
    </div>
    <!-- Add more modals for other forms -->
    
    <div id="performanceHistory-modal" class="archive-modal">
      <div class="history-container archive-modal-content">
      <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
        <span class="close openFlashMsg" aria-hidden="true"onclick="getElementById('performanceHistory-modal').style.display='none'">&times;</span>
      </button>
       <center><h4>Performance History</h4></center>
       {% if performance %}
       <table>
           <thead>
               <tr>
                   <th>SN</th>
                   <th>Manager Asst.</th>
                   <th>Customer Feed.</th>
                   <th>Project perf.</th>
                   <th>Peer Feed.</th>
                   <th>Improv. plan</th>
                   <th>Attendance perf.</th>
                   <th>Pro.dev. perf.</th>
                   <th>KPIs</th>
                   <th>Self-Asst.</th>
                   <th>Overall Review</th>
                   <th>Overall Rating</th>
                   <th>Date</th>
               </tr>
           </thead>
           <tbody>
               {% for perf in performance %}
               <tr>
                   <td>{{ forloop.counter }}</td>
                   <td>{{ perf.manager_assessment }}</td>
                   <td>{{ perf.customer_feedback }}</td>
                   <td>{{ perf.project_performance }}</td>
                   <td>{{ perf.peer_feedback }}</td>
                   <td>{{ perf.improvement_plan }}</td>
                   <td>{{ perf.attendance_punctuality }}</td>
                   <td>{{ perf.professional_development}}</td>
                   <td>{{ perf.kpis}}</td>
                   <td>{{ perf.self_assessment }}</td>
                   <td>{{ perf.performance_review }}</td>
                   <td>{{ perf.performance_rating }}%</td>
                   <td>{{ perf.created_at|date:'d/m/y' }}</td>
               </tr>
               {% endfor %}
           </tbody>
       </table>
       {% else %}
       <center>
           <h3>No Performance History </h3>
           <p>Performance history will be displayed here</p>
       </center>
       {% endif %} 
     </div>
  </div>
  
</div>
{% endblock %}
