{% extends 'base/base.html' %}
{% load static %}

{% block head %} 
<link rel="stylesheet" href="{% static 'emps/styles/landing_page.css' %}">
<script src="{% static 'emps/scripts/landing_page.js' %}"></script>
<link rel="stylesheet" href="{% static 'emps/styles/signUp.css' %}">
<script src="{% static 'emps/scripts/signUp.js'%}"></script>
<link rel="stylesheet" href="{% static 'emps/styles/login.css' %}">
{% endblock head %}
{% block title %}Login{% endblock title %}

{% block signIn %}{% endblock signIn %}
{% block content %}
<div class="login_container">
    <div class="login_container_inputs">
        <div class="logo">
            <img src="{% static 'base/images/logo.png' %}" alt="">
        </div>
        <h3 class="login_header">Login</h3>
        <hr class="wide_hr">

        {% comment %} Form begins here {% endcomment %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %} 
            <label for="username" title="Enter your registered username and email address">UserName or Email</label><br>
            {% if username_or_email %}
                <input type="text" name="username_or_email" required placeholder="enter username or email" value="{{ username_or_email }}"><br>
            {% else %}
                <input type="text" name="username_or_email" required placeholder="enter username or email"><br>
            {% endif %}
            <label for="password" title="Enter you Password">Password</label><br>
            <input type="password" name="password" placeholder="********" id="password" required autocomplete="on">
            <span toggle="#password" class="password-toggle"></span><br><br>
            <input type="submit" value="Sign in"><br><br>
            <h5 id="forgotPasscode" class="forgetPasscode">Forget password</h5>
        </form>
        {% comment %} forgot password {% endcomment %}
        <div class="forgot_password modal" style="display: none;">
            <div class="forgot_password_container modal-content">
                <span class="closeModal" style="color: red;">×</span>
                    <h3 class="login_header">Reset Password</h3>
                    <form id="forgotPasswordForm" method="post" action="{% url 'forgot_password'%}">
                        {% csrf_token %}
                        <label for="email" title="Enter your registered email address to receive reset token" >Enter Email</label><br>
                        <input type="email" name="email" placeholder="Enter your email" required><br><br><br>
                        <input class="resetLink" type="submit" value="Send Reset Link">
                    </form>
            </div>
        </div>

        {% comment %} Sending Email Spinner {% endcomment %}
        <div id="loadingMessage" class="modal" style="display: none; z-index: 10;">
            <div class="sendingEmail"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <!-- email_error_modal -->
        <div id="emailErrorModal" class="modal">
            <div class="modal-content">
                <span class="closeModal">&times;</span>
                <h1 class="error-message">Error Sending Email</h1>
                <p >There was an issue sending the email. Please try again later.</p>
                {% comment %} <a href="#" class="back-link">Go back</a> {% endcomment %}
            </div>
        </div>    
    
        <br>
        <p><center class="change_color">or continue with</center></p>
        <div class="link_box_container">
            <div class="link_box">
                <a><img src="{% static 'emps/images/socialLinks/google.png' %}" alt=""></a>
            </div>
            <div class="link_box">
                <a><img src="{% static 'emps/images/socialLinks/facebook.png' %}" alt=""></a>
            </div>
            <div class="link_box">
                <a><img src="{% static 'emps/images/socialLinks/github.png' %}" alt=""></a>
            </div>  
        </div>
        <div class="ending">
            <center><p class="change_color">Don't have an account yet? <span><a href="{% url 'signUp' %}">Register here</a></span></p></center>
        </div>
    </div>
    <div class="landing-left">
        <h1 id="welcome">Welcome to WorkForceHub</h1>
        <h6 class="script">. . . your one-stop solution to employee management</h6>

        <div class="image-slider">
            <img src="{% static 'base/images/employees2.jpg' %}" alt="slide img2">
            <img src="{% static 'base/images/employees3.webp' %}" alt="slide img3">
            <img src="{% static 'base/images/employees4.webp' %}" alt="slide img4">
            <img src="{% static 'base/images/employees5.png' %}" alt="slide img5">
            <img src="{% static 'base/images/employees60.jpg' %}" alt="slide img6">
            <img src="{% static 'base/images/employees7.jpg' %}" alt="slide img7">
            <img src="{% static 'base/images/employees8.jpg' %}" alt="slide img8">
            <img src="{% static 'base/images/employees1.jpg' %}" alt="slide img1" class="active">
            <img src="{% static 'base/images/employees9.webp' %}" alt="slide img9">
            <img src="{% static 'base/images/employees10.png' %}" alt="slide img10">
            <img src="{% static 'base/images/employees11.jpg' %}" alt="slide img11">
            <img src="{% static 'base/images/employees12.jpg' %}" alt="slide img12">
        </div>
    </div>
</div>


<script>
$(document).ready(function () {
    $('.closeModal').click(function () {
        $('.modal').hide();
    });
    // Show forgot password form
    $('#forgotPasscode').click(function () {
        $('.forgot_password').show();
        $('.closeModal').click(function () {
            $('.forgot_password').hide();
        });
    });

    // show loading message when resetLink is clicked
    $('.resetLink').click(function () {
        $('#loadingMessage').show();
    });
});
    $(document).on('click', '.password-toggle', function() {
        let input = $($(this).attr('toggle'));
        input.attr('type', input.attr('type') === 'password' ? 'text' : 'password');
    });        
</script>
{% endblock content %}
<br><br>