<!-- admin_user_form.html -->
{% extends 'base/base.html'%}
{% load crispy_forms_tags %}

{% block head %}
<style>
    .container {
        margin-bottom: 10px;
    }
</style>
{% endblock head %}
{% block title %}Admin User Form{% endblock title %}

{% block content %}
<div class="container mt-5">
        <h2>Profile Update Form</h2>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{% endblock content %}

