{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'emps/styles/landing_page.css' %}">
<link rel="stylesheet" href="{% static 'emps/styles/signUp.css' %}">
    <script src="{% static 'emps/scripts/landing_page.js' %}"></script>
    <script src="{% static 'emps/scripts/signUp.js' %}"></script>
    <style>
        .inputField {
            border-radius: 10px;
        }
    </style>
{% endblock head %}
{% block title %}Register{% endblock title %}
{% block signUp %}{% endblock signUp %}

{% block content %}
   <div class="register_container">
        <div class="register_container_inputs">
            <div class="logo">
                <img src="{% static 'base/images/logo.png' %}" alt="">
            </div>
            <h3 class="register_header">
               Sign Up
            </h3>
            <hr class="wide_hr">
            <form class="learner_form" action="{% url 'signUp' %}" method="POST">
                {% csrf_token %}
                <label for="useremail" title="Your email will be used for password recovery, ensure it is valid and accessible">
                    Email
                </label>
                {{ form.email }} <br>
                <label for="username" title="Choose a memorable username">
                    Username
                </label><br>
                {{ form.username }} <br>
                <label for="password" title="It is recommended that your password include 8 characeter with Uppercase, Lowercase, number, and special character">
                    Password
                </label><br>
                {{ form.password1 }} <br>
                <label for="confirm_password" title="Enter the above password again">
                    Confirm Password
                </label><br>
                {{ form.password2 }} <br>
                <br>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            
            
            <br>
            <center><p class="change_color hide_signup">or signup with</p></center>
            <div class="link_box_container">
                <div class="link_box">
                    <a href=""><img src="{% static 'emps/images/socialLinks/google.png' %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href=""><img src="{% static 'emps/images/socialLinks/facebook.png' %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href=""><img src="{% static 'emps/images/socialLinks/github.png' %}" alt=""></a>
                </div>  
            </div>
            <div class="ending">
                <center>
                    <p>Already have an account? <a href="{% url 'login' %}"><b>Login here</b></a></p>
                </center>
            </div>
        </div>
        <div class="topTip">
            <p><strong>Tip:</strong> Choose a strong password with a combination of letters, numbers, and special characters to enhance security.</p>
            <p><strong>Tip:</strong> Make sure to use a valid and accessible email address. Your email will be used for important notifications and password resets. It's crucial to have access to this email to manage your WorkforceHub account effectively.</p>
        </div>
        <div class="landing-left">
            <h1 id="welcome">Welcome to WorkForceHub</h1>
            <h6 class="script">. . . your one-stop solution to employee management</h6>
            <img src="{% static 'base/images/employees3.jpg' %}" alt="great step" class="wfImage">
            <div class="tip">
                <p><strong>Tip:</strong> Choose a strong password with a combination of letters, numbers, and special characters to enhance security.</p>
                <p><strong>Tip:</strong> Make sure to use a valid and accessible email address. Your email will be used for important notifications and password resets. It's crucial to have access to this email to manage your WorkforceHub account effectively.</p>
            </div>
        </div>
   </div>
</div>
{% endblock content %}