* {
    list-style: none;
    text-decoration: none;
}
/* Styles for left pane */
.left-pane-org {
    position: fixed; 
    left: 0; 
    top: 84.5px;
    width: 25%;
    padding: 3%;
    padding-top: 1.5%;
    background-color: #f0f0f0;
    overflow: hidden;
    max-height: calc(100vh - 92px); 
    bottom: 0;
    overflow-y: auto; 
}
.left-pane-org:hover {
    background-color: #e6e6e6;
}
.left-pane-org h2 {
    margin-bottom: 20px;
}

.left-pane-org ul {
    list-style-type: none;
    padding: 0;
}

.left-pane-org li {
    text-align: left;
    margin-bottom: 10px;
}

.left-pane-org button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
}

.left-pane-org button:hover {
    background-color: #0056b3;
}



/* password */
.password {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.password p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}


.password a:hover {
    text-decoration: none;
    color: #0056b3;
}







.left-pane-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
}


.left-pane-content .fas {
    margin-right: 10px;
    color: #222;;
}

.fas.dropdownIcon {
    margin: 0;
}

.logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.logout * {
    color: rgb(211, 9, 9);
    font-weight: bold;
}
.logout a:hover {
    text-decoration: none;
    color: red;
    padding-left: 5px;
    transition: .3s ease-in-out;
}
.left-down-content {
    /* max-height: 300px; */ /* Uncomment this line if you want a control subsection of branches */
    overflow-y:auto;
}

.action-links {
    overflow: auto;
}

/* Styles for right pane */
.right-pane-org {
    margin-left: 25%; 
    padding: 5%;
    padding-top: 2.5%;
    overflow-y: auto; 
    min-height: 100vh;
}

.cardie {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding:  20px;
    margin-bottom: 20px;
}
.left-pane-org .cardie {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
}

.cardie:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardie h3 {
    margin-bottom: 10px;
    color: #007bff;
}

.cardie p, .cardie ol {
    margin-bottom: 10px;
    color: #666;
}
.cardie ol li {
    list-style: decimal;
}

.cardie button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cardie button:hover {
    background-color: #0056b3;
}

.clearfix {
    position: relative;
    z-index: 10;
    margin-top: 450px;
}

/* modal for creating organization */
.close-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.close {
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: red !important;
    font-size: 1.5rem;
}
.close:hover {
    color: #dc3545;
}

/* Styles for backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    display: none;
}


/* Styles for modal */
#organization-form, #branch-form, #delegate-admin-form,
#reset_delegate_password, #change_admin_password_form {
    display: none;
    width: 80%;
    z-index: 9;
    margin: 20px auto; 
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    position: relative;
    max-height: 100vh; 
    overflow: auto;
}

#organization-form {
    margin-top: 0% !important;
}
#change_admin_password_form .col-md {
        display: flex;
        justify-content: flex-end;
    }

#reset_delegate_password button, .validateSmt, #confirmOrgDeleteBtn {
    opacity: 0.6;
    user-select: none;
    pointer-events: none;
}
.valid {
    opacity: 1 !important;
    user-select: auto !important;
    pointer-events: auto !important;
}

.showBranches{
    display: none;
}
.showBranches .list-group-item{
    margin-bottom: 2px;
}
.showBranches .list-color a {
    color: #551A8B;
}


ul li a:hover, .left-pane-org a:hover,
.createDelegateBtn:hover {
    text-decoration: none;
    transition: 0.5s ease-in-out;
    padding-left: 5px;
    cursor: pointer;
    color: #222;
}
/* image slider fix */

.image-slider img{
    max-height: 360px;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
}

/* left_section */
.tiny_images{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: 5px;
    object-fit: cover;
    object-position: top;
}
 .org_name {
    font-size: 1.23m;
    color: darkblue;
 }
 .user_name {
    padding: 5px;
 }
.user_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'el messiri', 'Saira', sans-serif;
    font-size: 14px;
    line-height: 0px;
    margin-bottom: 0px;
    /* font-size: medium; */
} 

.createDelegateBtn {
    /* color: tomato; */
    color: #007bff;
    /* font-size: 0.9rem; */
    font-size: bold;
    cursor: pointer;
    padding-top: 20px;
}


center h3 {
    color: #0056b3;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.actions {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.actions .tab6 {
    width: 24%;
}

.transfers #pending-transfers {
    display: block;
}


.mgt2 {
    display: none;
}
.active {
    display: block;
}

/* Styles for statistics modal */
.reportStats {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.statsBtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 2px solid #f5f3f3;
    position: relative;
    overflow: hidden;
  }
  .statsBtn:hover {
    background-color: #388e3c; /* Green color */
  }
    .statsBtn:hover i {
        animation: none;
    }
 .statsBtn i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveArrow 1s linear infinite;
  }
  @keyframes moveArrow {
    0% {
      left: 80%;
    }
    100% {
      left: 90%;
    }
  }


  .statsBtn a {
    text-decoration: none;
    color: white;
  }

.reports table {
    font-size: 0.9rem;
}

.reports table th {
    font-size: 0.85rem;
}

.error-message {
    background-color: hsl(0, 0%, 95%);
    color: red;
}

.no-bottom p {
    margin: 0;
}

.space-top {
    margin-top: 20px !important;
}




/* Table style */
.tableContainer {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }
  td {
    background-color: #fff;
    color: #333;
    padding: 2.5px 10px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .action-btns {
    display: flex;
    justify-content: space-around;
    border-bottom: none;
  }
  .columnAction .action-btns {
    flex-direction: column;
  }
  .btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #0056b3;
    color: #fff;
  }
  .btn-update {
    background-color: #28a745;
    color: wheat
  }
  .btn-delete {
    background-color: #dc3545;
    color: wheat
  }
.btn-suspend {
    background-color: #eee;
    color: #666
  }
  .columnAction .btn {
    margin-bottom: 5px;
  }
  /* End of table style */

.tab-contents6 {
    margin-top: 0;
}

.no-space {
    max-width: 50px;
}

.dashboard-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .dashboard-buttons button {
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  .dashboard-buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



/* media query */
@media screen and (max-width: 1200px) {
    .clearfix {
        margin-top: 410px;
    }
    .left-pane-org button {
        padding: 7px;
    }

}
@media screen and (max-width: 1100px) {
    .clearfix {
        margin-top: 400px;
    }
}

@media screen and (max-width: 1000px) {
    h2 {
        font-weight: 500;
        font-size: 1.8rem;
    }
    .clearfix {
        margin-top: 360px;
    }
    .left-pane-org button {
        padding: 5px;
    }
}
@media screen and (max-width: 900px) {
    .clearfix {
        margin-top: 260px;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    h3 {
        font-size: 1.3rem !important;
    }
    h4 {
        font-size: 1.125rem !important;
    }
    .left-pane-org button {
        padding: 3px 5px;
    }
    .right-pane-org {
        margin-left: 27%;
        font-size: 0.9rem !important;
    }
    
    .left-pane-org  {
        width: 27%;
    }
    .actions .tab6 {
       display: flex;
       flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 5px;
    }
}
@media screen and (max-width: 850px) {
    .right-pane-org {
        margin-left: 30%;
    }
    
    .left-pane-org  {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .clearfix {
        margin-top: 220px;
    }
}
@media screen and (max-width: 750px) {
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.1rem !important;
    }
    h4 {
        font-size: 1rem !important;
    }

}
@media screen and (max-width: 650px) {
    .right-pane-org {
        margin-left: 35%;
    }
    .left-pane-org {
        width: 35%;
    }
    .left-pane-org button {
        padding: 3px 5px;
    }

}


@media screen and (max-width: 600px) {
    /* .right-pane-org {
        width: 60%;
    } */
    /* .left-pane-org {
        width: 35%;
    } */
}
@media screen and (max-width: 530px) {

    .left-pane-org {
        padding-right: 1.5%;
    }
}
@media screen and (max-width: 510px) {

    .right-pane-org {
        margin-left: 37%;
        padding: 2%;
    }
    .left-pane-org {
        width: 37%;
        padding-left: 1.5%;
    }

}
