.modal, .reset_password {
    display: block;
    backdrop-filter: none;
    overflow: hidden;
    overflow-y: auto;
}

.modal-content {
    margin: auto;
    margin-top: 10px;
}
.reset_password .modal-content{
    margin-top: 75px;
}
.success-message {
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 5px;
    margin-top: 0px;
}

input {
    width: 80%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}

input:hover {
    border: 1px solid #86b2ef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

.closeModal {
    color: red;
    text-align: right;
}
.wrapper-container {
    /* give a dim modal background */
    background-color: rgba(0, 0, 0, 0.5);
}