@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Rowdies&family=Saira&display=swap');

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
    margin: auto;
    background-color: #fff;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    overflow-y: auto;
    border-top: 1px solid #666;
    
}

.left-pane {
    flex: 1;
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    line-height: 1.4 !important;
    text-align: left;
}
.left-pane h2 {
    margin-top: 0;
}

.left-pane ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.left-pane li {
    margin-bottom: 5px;
}

.left-pane li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.left-pane li a:hover {
    background-color: #0056b3;
}


.featuresToggleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: rgb(214, 240, 238);
    color: #223;
    border-radius: 10px;
}

.featuresToggleContainer:hover .fa-angle-down {
    transform: rotate(180deg);
}


.rotate180 {
    display: none;
    margin: 10px;
}

.right-pane {
    flex: 3.5;
    padding: 20px;
    padding-top: 5px;
    overflow: hidden;
}

.right-pane h2 {
    margin-top: 0;
}

/* Styles for actions management */
.actions {
    margin-bottom: 20px;
}

.employee-management {
    display: block;
}
/* Adjust tab width */

.tab-contents, .tab-contents2, 
.tab-contents3, .tab-contents4, 
.tab-contents5, .tab-contents6 {
    display: none;
    margin-top: 20px;
}

#leave-requests {
    display: block;
}
#add-employee {
    display: block;
}
.leave-navigation .tab2 {
    width: 19%;
}

.nav-tab, .actions .nav-tab {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Adjust tab width for mgt sections */
.nav-tab.active,.nav-tab:hover, .actions .tab.active,
.actions .tab2.active,
.actions .tab3.active, 
.actions .tab4.active, 
.actions .tab5.active {
    background-color: #0056b3;
}



.mgt {
    display: none;
    padding: 0 20px;
}

.mgt h2 {
    color: #333;
    text-align: center;
    margin-top: 0;
}
/* default tab to display */
.employee-management {
    display: none;
}

.leave-requests, .apply-leave {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0 5px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: baseline;
}

th {
    background-color: #007bff;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.approve, .reject {
    color: #fff;
    background-color: #28a745;
    border: none;
    padding: 5px 7px;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
    transition: background-color 0.3s ease;
}
.reject {
    background-color: #dc3545;
}

.approve:hover, .reject:hover {
    background-color: #007bff;
    color: white;
}

.apply-leave form {
    max-width: 400px;
    margin: 0 auto;
}

.apply-leave label {
    display: block;
    margin-bottom: 5px;
}

.apply-leave input, .apply-leave select, .apply-leave textarea{
    width: calc(100% - 20px);
    padding: 5px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

/* .apply-leave select {
    width: 100%;
} */
.apply-leave input:active, .apply-leave input:focus, .apply-leave select:active, .apply-leave select:focus, .apply-leave textarea:active, .apply-leave textarea:focus{
    outline-color: #007bff86 ;
    outline-offset: 2px;
    /* outline: none; */
}

.apply-leave button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-leave button[type="submit"]:hover {
    background-color: #0056b3;
}

.view-leave-list, .leave-history {
    margin-top: 20px;
}
.tab-contents th, .apply-leave th,
.tab-contents2 th, .tab-contents3 th, 
.tab-contents4 th, .tab-contents5 th,
.tab-contents6 th
{
    border: 1px solid rgba(196, 192, 192, 0.401);
}

.leave-list table {
    width: 100%;
    border-collapse: collapse;
}

.leave-list th, .leave-list td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.leave-list th {
    background-color: #007bff;
    color: #fff;
}

.leave-list tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.menuToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle-icon {
    display: none;
    /* position: absolute;
    top: 10px;
    left: 10px; */
    cursor: pointer;
}

.actions {
    margin-bottom: 20px;
}


/* Leave statistics */
/* leave_statistics.css */
.statistics {
    font-family: 'Saira', sans-serif;
    margin-bottom: 30px;
}

.statistics h2 {
    text-align: center;
    font-family:  'Rowdies';
    font-size: 24px;
    margin-bottom: 20px;
    color: #343a40;
}

.statistics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.statistic-item {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.statistic-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.statistic-item:hover > .statistic-info .statsVal{
   font-weight: bolder;
   font-size: 1.5rem;
   color: #0056b3;
}

.statistic-icon {
    font-size: 36px;
    color: #007bff;
    text-align: center;
}
.statistic-info {
    margin-top: 10px;
    text-align: center;
}

.statistic-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.statistic-info p {
    font-size: 20px;
    font-weight: bold;
    color: #343a40;
}

.controlButton {
   text-align: center;
}


/* Employee Management.html */
.employee-nav .tab {
    width: 24%;
}
#myTab {
    margin-bottom: 2.5%;
}

#file-upload-button {
    background: transparent;
    border: none;
}

tr:hover {
    background-color: #fff;
    color: black;
}
.fa-ellipsis-h {
    transform: translateX(50%);
    font-size: 20px;
    color: #007bff;
    cursor: pointer;
    margin: auto;
}
.fa-ellipsis-h:hover {
    color: #0056b3;
}

/* employee_dropdown.css */
.dropdown {
    position: relative;
    display: inline-block;
    line-height: 1.3;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 0;
    /* transform: translateX(-10%); */
    font-size: 0.85rem;
}
.dropdown-menu ul {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.dropdown-menu li {
    list-style: none;
    padding: 5px 10px;
    /* margin-bottom: 3px; */
}

.dropdown-menu li:hover {
    background-color: #edf2fa;
    animation: none;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu a:hover {
    color: #007bff;
}



/* modal for viewing detailed employee */
/* Profile picture styling */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid#1a295e5e
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero .container small {
    display: block;
    margin-bottom: 20px;
  }
  /* Modal body styling */
  .modal-body {
    padding: 20px;
  }
  
  /* Form field styling */
 #employeeModal .form-group {
    margin-bottom: 20px;
  }
  
  /* Optional: Center modal vertically */
  .modal-dialog {
    margin: 0 auto;
    margin-top: 50px; /* Adjust as needed */
  }
  
.main_block .close {
    padding: 10px;
}
.close {
    color: red;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    right: 5px;
}
.close:hover {
    color: red;
    opacity: 1;
}



/* Control for employee Action MODAL */
.empModalContainer {
    display: none;
}
.flash-ajax-message {
    display: none;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 100;
    width: 70%;
    padding: 5px;
    border-radius: 4px;
    color: white;
    margin-top: 0;
}

.flash-close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    padding-left: 2px;
    color: white;
    background: transparent;
    font-size: 25px;
    border-radius: 3px;
    border: none;
}
.success-message {
   background-color: #5cb85c;
}
.error-message {
   background-color: red;
}

#create-payroll {
    display: block;
}

.payroll-navigation .tab3 {
    width: 24%;
}
.performance-navigation .tab4{
    width: 19%;
}
.transfers .tab6 {
    width: 19%;
}

.view-bank-info {
    margin: 20px;
}

/* Effects for fieldsets */
.employee_view_form fieldset:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fefff9;
}
table .btn {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0;
    margin-bottom: 0;
}

.pf-btn, .del-pf-btn {
    opacity: 0.7;
    padding:5px 10px;
}

.pf-btn:hover, .del-pf-btn:hover {
    opacity: 1;
    text-decoration: none;
}

.settings {
    font-family: 'Saira', sans-serif;
}
.settings h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.settings .col-md {
    display: flex;
    justify-content: flex-end;
}

.settings .tab5 {
    width: 32%;
}

.settings #update-profile,
.transfers #transfer-request,
.performance #performance-list {
    display: block;
}

.featuresList .fas {
    margin-right: 8px;
    text-align: left;
    color: #a9edf6;
}

.featuresList li a {
    color: rgb(214, 240, 238);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#change-passwd .form-row {
    text-align: center;
}

#change-passwd #hint_id_new_password1 {
    text-align: left;
}

 .controlButton2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin: auto auto;
}


.controlButton .del-pf-btn {
    background: #a20c0c;
    color: white;
    border: none;
}


.badStat { 
    color: red;
}

.goodStat {
    color: #5cb85c;
}

.featuresToggle {
    color: #223;
    user-select: none;
    margin: 5px;
}

.tabTitle {
    display: none;
}

.expand-width {
    min-width: 130px;
}


  /* Optional: Make modal smaller on smaller screens */
  @media (max-width: 768px) {
    .modal-lg {
      max-width: 80%;
    }
    .rotate180 {
        display: block;
    }
    .featuresList {
        cursor: pointer;
    }
  }
  


/* media query  */
@media screen and (max-width: 1050px){

    .leave-management {
        padding: 10px;
    }
.tab-contents,
.tab-contents2, 
.tab-contents3, 
.tab-contents4, 
.tab-contents5,
.tab-contents6 {
    overflow: auto;
    }
    .approve, .reject {
        font-size: 0.9em;
        padding: 5px;
    }
}
   @media screen and (max-width: 1000px){
    /* Adjust tab width for mgt sections */
    .actions .tab, .actions .tab2,
     .actions .tab3, .actions .tab4, 
     .actions .tab5, .actions .tab6 {
        padding: 10px;
    }
   }
@media screen and (max-width:935px) {
    .approve, .reject {
        width: 90%;
}
}

@media screen and (max-width: 900px) {
    /* Adjust tab width for mgt sections */
    .featuresToggleContainer:hover {
        cursor: pointer;
        background-color: #a4c6d0;
    }

    .tabTitle {
        display: block;
    }

    .employee-nav .tab, 
    .leave-navigation .tab2, 
    .payroll-navigation .tab3, 
    .performance-navigation .tab4, 
    .settings .tab5,
    .transfers .tab6
     {
        width: 100%;
    }

    .btn {
        padding: 5px 10px;
    }
    
    h2 {
        font-size: 1.6rem;
    }
    .dashboard-container {
    font-size: 0.95em;    }
    .controlButton {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 2px;
    }
    .controlButton button {
        margin-bottom: 3px;
    };
    .menu-toggle-icon  {
        display: block;
    }
    .searchFlex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    /* Adjust tab width for mgt sections */
    .tab, .tab2, .tab3, 
    .tab4, .tab5, .tab6 {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .tab-contents, 
    .tab-contents2, 
    .tab-contents3, 
    .tab-contents4, 
    .tab-contents5,
    .tab-contents6{
        display: none;
    }
    .dropdown-menu {
        transform: translateX(0%);
        font-size: 0.85rem;
    }
}



@media screen and (max-width: 768px) {
.actions {
    display: none;
    flex-direction: column;
    align-items: stretch;
}
.mgt {
    padding: 5px;
}
.right-pane {
    overflow-x: auto;
}

/* Adjust tab width for mgt sections */
.employee-nav .tab, .leave-navigation .tab2, .payroll-navigation .tab3 {
    width: 100%;
    margin-bottom: 10px;
}
.dashboard-container {
        flex-direction: column;
        align-items: stretch;
    }

.menu-toggle-icon {
    display: block;
    margin-left: 10px;
}

/* Adjust tab width for mgt sections */
.tab, .tab2, .tab3, 
.tab4, .tab5, .tab6 {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.tab-contents, .tab-contents2,
.tab-contents3, .tab-contents4, 
.tab-contents5, .tabcontent6 {
    display: none;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.4rem;
}}

@media screen and (max-width: 645px) {
    .justify-content-between {
        font-size: 0.9rem;
    }
    .justify-content-between div {
       width: auto !important;
    }
    
}
@media  screen and (max-width:550px) {
    .justify-content-between div {
        width: 100%;
     }
 
}
/* media query */